<section class="messages">

  <h2>SHARE THE GOOD VIBES</h2>

  <ul class="messages__list">
    {{#each allMessages}}
    <li class="message">
      <h4>{{this.body}}</h4>
      <div class="message__author">
        <p class="message__author-name">
          {{this.username}}
        </p>
        <p class="message__author-time">
          {{this.time}}
        </p>
      </div>
    </li>
    {{/each}}
  </ul>
</section>

<section class="message__add">
  <a href="/add-message">
    <button class="message__btn">
      <h2>+</h2>
    </button>
  </a>
</section>